*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.all{
    background: white;
    width: 900px;
    margin: 0 auto;
}
.navpic{
    width: 100%;
    height: 200px;
}
nav ul{
    background-color: gray;
}
nav{
    margin-top: -4px;
}
nav ul li{
    display: inline;
    line-height: 37px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 9px;
}
a:hover{
    background-color: white;
    color: grey;
    transition: .5s;
}
.main{
    display: flex;
    justify-content: center;
}
.bigblocks, .smallblocks{
    display: block;
}
.blok1{
    width: 550px;
    height: 160px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok2{
    width: 550px;
    height: 400px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok3{
    width: 200px;
    height: 240px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok4{
    width: 200px;
    height: 350px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok1:hover,.blok2:hover,.blok3:hover,.blok4:hover{
    background: rgb(240, 235, 235);
}
footer{
    padding: 40px;
    width: 900px;
    height: 90px;
    background: rgb(179, 81, 16);
}
footer p{
    text-align: center;
}
.naslov{
    color: rgb(179, 81, 16);
    font-size: 20px;
    margin: 10px;
}
@media(max-width: 916px){
    nav ul{
        display: block;
        width: 100px;
        height: 100%; 
        position: fixed;
        top: 0px;
        z-index: 1;
    }
    nav ul li a{    
        display: flex;
        position: relative;
        top: 30px;
        line-height: 50px;
    }
    .main{  
        margin: auto;
        display: block;
    }
    .all{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .blok3{
        width: 550px;
        height: 100px;
    }
    .blok4{
        width: 550px;
        height: 150px;
    }
    .blok1, .blok2, .blok3, .blok4{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        left: 50px;
    }
    footer p{
        position: relative;
        left: 40px;
    }   
}
@media (max-width:680px){
    .blok1,.blok2,.blok3,.blok4{
        position: relative;
        left: 50px;
        width: 300px;
    }
    .blok1{
        height: 300px;
    }
    .blok2{
        height: 450px;
    }
}