*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    width: 100%;    
}
.all{
    background: white;
    width: 900px;
    margin: auto;
}
.headerpic{
    width: 100%;
    height: 200px;
}
nav ul{
    background: gray;
    display: flex;
}
ul li{
    border-right: solid 1px white;
}
li a{
    display: block;
    color: white;
    padding: 10px 15px;
}

li a:hover{ 
    color: gray;
    background-color: white;
    transition: 0.5s;
}
.blok1{
    width: 550px;
    height: 180px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok2{
    width: 550px;
    height: 400px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok3{
    width: 200px;
    height: 240px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok4{
    width: 200px;
    height: 370px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
}
.blok1:hover,.blok2:hover,.blok3:hover,.blok4:hover{
    background: rgb(240, 235, 235);
}
.main{
    display: flex;
    justify-content: center;
}
.bigblocks{
    display: flex;
    flex-direction: column;
}
.smallblocks{
    display: flex;
    flex-direction: column;
}
footer{
    width: 100%;
    height: 70px;
    background: rgb(179, 81, 16);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p a{
    color: black;
    text-decoration: underline;
}

h3{
    color: rgb(179, 81, 16);
    margin: 10px;
}

.blok1 p, .blok4 p{
    margin: 20px;   
}
.slika1, .slika2{
    width: 30%;
    height: 20vh;
}
.blok2_1, .blok2_2{
    display: flex;
    margin: 20px;
}
.blok2_1 div, .blok2_2 div{
    margin: 10px;
}
.blok3 p{
    margin: 10px;
}
.blok3 p a, .blok4 p a{
    color: rgb(179, 81, 16);
    text-decoration: underline;
}

/* Stavio sam 916px jer se na 900px u jednom trenutnku pojavljuje horizontalni skrol */
@media (max-width: 916px){
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    ul li{
        border-bottom: solid 1px white;
    }
    .all{
        width: 100%;
    }
    .main{
        flex-direction: column;
        justify-content: center;
    }
    .blok1{
        width: 95%;
        height: auto;
    }
    .blok2{
        width: 95%;
        height: auto;
    }
    .blok3{
        width: 95%;
        height: auto;
    }
    .blok4{
        width: 95%;
        height: auto;
    }
    .blok3 p{
        width: 160px;
    }
    .helpnews{
        display: flex;
        justify-content: center;
    }
}