*{
    box-sizing: border-box;
}
body{
    background: #140a0a12;
}
.galerija{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 250px;
    height: 200px;
}
.naslov{
    text-align: center;
}
h1{
    font-size: 40px;
    line-height: 10px;
    text-transform: uppercase;
    font-family: 'Lacquer', sans-serif;
}
.pictureContainer {
    position: relative;
    height: 216px;
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .text {
    text-align: center;
    padding: 90px;
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(252, 252, 252, 0.6);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  .pictureContainer:hover .text {
    visibility: visible;
    opacity: 1;
  }